<p id="notice"><%= notice %></p>
<h4>
  <%= "Total price: #{(@rent.final_date - @rent.initial_date) * @rent.offer.price}" %>
</h4>
<p>
  <strong>Initial date:</strong>
  <%= @rent.initial_date %>
</p>

<p>
  <strong>Final date:</strong>
  <%= @rent.final_date %>
</p>

  <h4>Contact Information</h4>
  Name: <%= @rent.offer.user.name %><br>
  Phone <%= @rent.offer.user.phone %><br>
  Email: <%= @rent.offer.user.email %><br>
</p>

<p>
  <%= render 'offers/offer' %>
</p>

<%= link_to 'Back', rents_path %>
