<br>
<div class="form-group row">
  <%= form_tag 'search' do %>
    <div class="col-xs-9">
      <%= text_field_tag :value, @value, class: "form-control" %>
    </div>
    <div class="col-xs-3">
      <%= submit_tag "Search", class:"btn btn-default" %>
    </div>
  <% end %>
</div>

<h2>Results for <%= @value %></h2>

<div class="row">
  <% @result.each do |offer| %>
    <div class="col-sm-3 col-md-3">
      <div class="thumbnail">
        <%= link_to image_tag('tool.jpg'), new_rent_path(offer_id: offer.id) %></td>
        <h4><%= offer.name %></h4>
        <%= offer.price %>
        </a>
      </div>
    </div>
  <% end %>
</div>
